In [1]:
import os
import json
import pandas as pd

In [6]:
df = pd.read_json('../data/raw/yelp_academic_dataset_review.json', lines=True)

In [7]:
df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [8]:
business_data = pd.read_json('../data/raw/yelp_academic_dataset_business.json', lines=True)

In [19]:
business_data.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours'],
      dtype='object')

In [20]:
business_data['attributes'].head()

0                        {'ByAppointmentOnly': 'True'}
1               {'BusinessAcceptsCreditCards': 'True'}
2    {'BikeParking': 'True', 'BusinessAcceptsCredit...
3    {'RestaurantsDelivery': 'False', 'OutdoorSeati...
4    {'BusinessAcceptsCreditCards': 'True', 'Wheelc...
Name: attributes, dtype: object

In [21]:
df = pd.merge(df, business_data, on='business_id', how='left')

In [22]:
df.head()

,review_id,user_id,business_id,stars_x,useful,funny,cool,text,date,name,...,state,postal_code,latitude,longitude,stars_y,review_count,is_open,attributes,categories,hours
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11,Turning Point of North Wales,...,PA,19454,40.210196,-75.223639,3.0,169,1,"{'NoiseLevel': 'u'average'', 'HasTV': 'False',...","Restaurants, Breakfast & Brunch, Food, Juice B...","{'Monday': '7:30-15:0', 'Tuesday': '7:30-15:0'..."
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18,Body Cycle Spinning Studio,...,PA,19119,39.952103,-75.172753,5.0,144,0,"{'BusinessAcceptsCreditCards': 'True', 'GoodFo...","Active Life, Cycling Classes, Trainers, Gyms, ...","{'Monday': '6:30-20:30', 'Tuesday': '6:30-20:3..."
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30,Kettle Restaurant,...,AZ,85713,32.207233,-110.980864,3.5,47,1,"{'RestaurantsReservations': 'True', 'BusinessP...","Restaurants, Breakfast & Brunch",None
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03,Zaika,...,PA,19114,40.079848,-75.025080,4.0,181,1,"{'Caters': 'True', 'Ambience': '{'romantic': F...","Halal, Pakistani, Restaurants, Indian","{'Tuesday': '11:0-21:0', 'Wednesday': '11:0-21..."
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15,Melt,...,LA,70119,29.962102,-90.087958,4.0,32,0,"{'BusinessParking': '{'garage': False, 'street...","Sandwiches, Beer, Wine & Spirits, Bars, Food, ...","{'Monday': '0:0-0:0', 'Friday': '11:0-17:0', '..."

In [23]:
df_ihop = df[df['name'] == 'IHOP']

In [24]:
df_ihop.head()

,review_id,user_id,business_id,stars_x,useful,funny,cool,text,date,name,...,state,postal_code,latitude,longitude,stars_y,review_count,is_open,attributes,categories,hours
774,b7-Wi55KPnDFiDbQ3nUgFQ,q5g3dj7DJAPks8p4vZUsHA,3SHw4aZW_muE1kRSLQQjjA,1,1,0,0,If you like to wait while several tables are o...,2012-11-06 14:52:07,IHOP,...,FL,33609,27.935550,-82.505430,3.0,69,1,"{'GoodForKids': 'True', 'OutdoorSeating': 'Fal...","Breakfast & Brunch, Restaurants, American (Tra...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
2183,JXIrnBiSMI1weGNB7X3rYA,yhFJ56iFAmpPbT-6mHI2mQ,jx08bYW9trXnfdw9hAEoRw,3,0,0,0,It's a crazy place with surprisingly good serv...,2015-07-04 02:00:43,IHOP,...,PA,19082,39.958729,-75.257811,1.5,74,1,"{'BusinessParking': '{'garage': False, 'street...","Food, Restaurants, Burgers, American (Traditio...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '..."
3120,8xbioBTOEnYDDA86dNwDQQ,ZdODEy4O0-nPdPKwkdQkdw,g79jYJz3FEvgvglXqOUWxw,4,0,0,2,"Being from California, we didn't have Waffle H...",2012-11-06 21:19:58,IHOP,...,LA,70001,29.996490,-90.159290,3.0,75,1,"{'OutdoorSeating': 'False', 'BusinessParking':...","Breakfast & Brunch, Burgers, Restaurants, Amer...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
3752,XqKj9-Wdvu0IgfoYx291Og,hUGdWR7fLECh5aNg6pJOzw,zie_uvy3ln9rdTvA2e3gUg,5,0,0,0,Really nice IHOP. Clearly it's very new. The s...,2014-11-30 14:59:36,IHOP,...,NJ,08094,39.721640,-75.020213,2.5,59,1,"{'GoodForKids': 'True', 'GoodForMeal': '{'dess...","American (New), Diners, Restaurants, Burgers, ...","{'Monday': '0:0-0:0', 'Tuesday': '7:0-22:0', '..."
4146,VYG48wer27lsbOE51Tr93g,xnfIF5cMnSJVVcMRff0DcQ,BJBSwMKADtYjqFDCL3-zkw,1,2,0,0,We visited the Ihop on Canal Street after a da...,2014-08-10 20:43:04,IHOP,...,LA,70112,29.954450,-90.070520,2.0,248,1,"{'OutdoorSeating': 'False', 'RestaurantsGoodFo...","American (Traditional), Restaurants, American ...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."

In [26]:
df_ihop[df_ihop].shape

(6443, 22)

In [27]:
df_ihop.groupby('state').size().reset_index(name='conteo')

   state  conteo
0     AB     178
1     AZ     551
2     CA     263
3     DE     121
4     FL    1143
5     ID     150
6     IL     144
7     IN     370
8     LA     757
9     MO     381
10    NC      29
11    NJ     233
12    NV     425
13    PA    1048
14    TN     650

In [31]:
df_ihop[df_ihop['state']=='FL'].shape

(1143, 22)

In [33]:
# Ensure 'date' is in datetime format
df_ihop.loc[:, 'date'] = pd.to_datetime(df_ihop['date'])

# Filter for rows where state is 'FL', group by month, and count
florida_counts = df_ihop[df_ihop['state'] == 'FL'].groupby(df_ihop['date'].dt.to_period('M')).size().reset_index(name='count')

# Rename the columns for clarity
florida_counts.rename(columns={'date': 'month'}, inplace=True)

In [40]:
florida_counts['count'].max()

23

In [42]:
df_ihop[(df_ihop['date'].dt.year >= 2015) & 
                      (df_ihop['state'].isin(['FL', 'PA', 'LA']))].shape

(2374, 22)

In [45]:
df[(df['name'] == 'IHOP') & (df['date'].dt.year >= 2015) & 
                      (df['state'].isin(['FL', 'PA', 'LA']))]

,review_id,user_id,business_id,stars_x,useful,funny,cool,text,date,name,...,state,postal_code,latitude,longitude,stars_y,review_count,is_open,attributes,categories,hours
2183,JXIrnBiSMI1weGNB7X3rYA,yhFJ56iFAmpPbT-6mHI2mQ,jx08bYW9trXnfdw9hAEoRw,3,0,0,0,It's a crazy place with surprisingly good serv...,2015-07-04 02:00:43,IHOP,...,PA,19082,39.958729,-75.257811,1.5,74,1,"{'BusinessParking': '{'garage': False, 'street...","Food, Restaurants, Burgers, American (Traditio...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '..."
5239,mEsAv9ZKYx9GIIaFf_xEsw,7jbYyy36XfRHOC8TDIUP5g,g79jYJz3FEvgvglXqOUWxw,5,0,0,0,Great Food & Service !! I had the pancakes and...,2015-05-26 17:10:18,IHOP,...,LA,70001,29.996490,-90.159290,3.0,75,1,"{'OutdoorSeating': 'False', 'BusinessParking':...","Breakfast & Brunch, Burgers, Restaurants, Amer...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
6514,QP2iSktgbwE3zbp36eeDXQ,EbtBnSxK4LwE7Fo1uyQ22A,BJBSwMKADtYjqFDCL3-zkw,2,0,0,0,It was a group of us and we had issues with ou...,2018-02-24 13:02:15,IHOP,...,LA,70112,29.954450,-90.070520,2.0,248,1,"{'OutdoorSeating': 'False', 'RestaurantsGoodFo...","American (Traditional), Restaurants, American ...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
6966,gkUw708T1nVrRKONTj2OBQ,1RDZcRvRR0-dfS8b2_jTCw,BJBSwMKADtYjqFDCL3-zkw,1,0,0,0,Omg. Don't go here....waited and waited for my...,2018-07-17 03:10:49,IHOP,...,LA,70112,29.954450,-90.070520,2.0,248,1,"{'OutdoorSeating': 'False', 'RestaurantsGoodFo...","American (Traditional), Restaurants, American ...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
8972,hxIq6BqvAT839DL_efkf4A,Ta3-fcPO1Fmy_Hs3KB5ETA,3SHw4aZW_muE1kRSLQQjjA,4,0,0,0,Clean restaurant with quick and friendly servi...,2018-07-17 13:34:05,IHOP,...,FL,33609,27.935550,-82.505430,3.0,69,1,"{'GoodForKids': 'True', 'OutdoorSeating': 'Fal...","Breakfast & Brunch, Restaurants, American (Tra...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6972216,YmYpaxjVqE03YSpc-rtxpg,hShsEPyUzH7XP5Il2nOj4g,qs6H_gmYAre_F0N79GkutQ,1,0,0,0,Weren't greeted and left after having been sea...,2021-08-15 13:08:36,IHOP,...,FL,33618,28.049840,-82.503260,2.5,80,1,"{'RestaurantsGoodForGroups': 'True', 'GoodForK...","American (Traditional), American (New), Breakf...","{'Monday': '6:0-22:0', 'Tuesday': '6:0-22:0', ..."
6973423,lUm5pLSdJdC2idcfxmjYTg,IUvDrWva4t2Sw4gEAXiU4g,ZSb4v38w1lYgtZ17uaFrYQ,1,0,0,0,I'm disgusted. Never in my life have I eaten a...,2016-09-06 17:33:56,IHOP,...,FL,33710,27.804641,-82.728202,2.5,18,0,"{'HasTV': 'False', 'BikeParking': 'True', 'Res...","Restaurants, American (Traditional), Burgers, ...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
6974027,LYUTXHX1Sfg1CW8KyC6Obw,EZGqZeSsWuxRoQ7Np_FYmA,Fb-6bh6Kf3kseld8RXBHYg,3,3,1,1,"We don't really go to Ihops, now and then, but...",2021-03-03 01:59:00,IHOP,...,LA,70065,30.017980,-90.239070,2.0,54,1,"{'RestaurantsAttire': 'u'casual'', 'OutdoorSea...","Breakfast & Brunch, American (New), American (...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
6987783,09COU8ktqaPpDetCtEi9jA,uGPsZcqNZ-3cwS6L2lE8LA,qs6H_gmYAre_F0N79GkutQ,1,0,0,0,Breakfast turned into upset stomach morning I ...,2018-11-02 15:41:17,IHOP,...,FL,33618,28.049840,-82.503260,2.5,80,1,"{'RestaurantsGoodForGroups': 'True', 'GoodForK...","American (Traditional), American (New), Breakf...","{'Monday': '6:0-22:0', 'Tuesday': '6:0-22:0', ..."
6987869,chsnGTCFCUANAPXpm4e13Q,fW-mpoEAZfSj0IY_JnLNpw,qs6H_gmYAre_F0N79GkutQ,3,4,1,1,This restuarant has the potential of being a f...,2017-02-26 00:03:35,IHOP,...,FL,33618,28.049840,-82.503260,2.5,80,1,"{'RestaurantsGoodForGroups': 'True', 'GoodForK...","American (Traditional), American (New), Breakf...","{'Monday': '6:0-22:0', 'Tuesday': '6:0-22:0', ..."

In [46]:
df_ihop.columns

Index(['review_id', 'user_id', 'business_id', 'stars_x', 'useful', 'funny',
       'cool', 'text', 'date', 'name', 'address', 'city', 'state',
       'postal_code', 'latitude', 'longitude', 'stars_y', 'review_count',
       'is_open', 'attributes', 'categories', 'hours'],
      dtype='object')

In [48]:
attributes_expanded = pd.json_normalize(business_data['attributes'])

# Merge expanded attributes back into the original DataFrame
business_data = pd.concat([business_data.drop(['attributes'], axis=1), attributes_expanded], axis=1)

In [49]:
business_data.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,AcceptsInsurance,BestNights,BYOB,Corkage,BYOBCorkage,HairSpecializesIn,Open24Hours,RestaurantsCounterService,AgesAllowed,DietaryRestrictions
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
business_data.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'categories', 'hours', 'ByAppointmentOnly',
       'BusinessAcceptsCreditCards', 'BikeParking', 'RestaurantsPriceRange2',
       'CoatCheck', 'RestaurantsTakeOut', 'RestaurantsDelivery', 'Caters',
       'WiFi', 'BusinessParking', 'WheelchairAccessible', 'HappyHour',
       'OutdoorSeating', 'HasTV', 'RestaurantsReservations', 'DogsAllowed',
       'Alcohol', 'GoodForKids', 'RestaurantsAttire', 'Ambience',
       'RestaurantsTableService', 'RestaurantsGoodForGroups', 'DriveThru',
       'NoiseLevel', 'GoodForMeal', 'BusinessAcceptsBitcoin', 'Smoking',
       'Music', 'GoodForDancing', 'AcceptsInsurance', 'BestNights', 'BYOB',
       'Corkage', 'BYOBCorkage', 'HairSpecializesIn', 'Open24Hours',
       'RestaurantsCounterService', 'AgesAllowed', 'DietaryRestrictions'],
      dtype='object')

In [51]:
df_ihop_attributes = business_data[business_data['name']=='IHOP'].copy()

In [60]:
selected_columns = [
    'BikeParking', 'RestaurantsDelivery',
    'WiFi', 'BusinessParking', 'HasTV',
    'NoiseLevel'
]

# Summary statistics for the selected columns
summary_stats = df_ihop_attributes[selected_columns].describe(include='all')
summary_stats

,BikeParking,RestaurantsDelivery,Caters,WiFi,BusinessParking,HasTV,DogsAllowed,RestaurantsTableService,DriveThru,NoiseLevel
count,94,112,86,100,104,109,14,26,37,98
unique,3,2,3,5,14,2,1,1,1,7
top,True,True,False,'no',"{'garage': False, 'street': False, 'validated'...",False,False,True,False,u'average'
freq,61,96,78,31,74,100,14,26,37,56